<h1>New user</h1>
<% form_for(@user) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <br>
    </br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :password %>
    <br>
    </br>
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :roles %>
    <br>
    </br>
    <%= f.select :roles, ["admin", "user", "guest"] %>
  </p>
<% end %>
